{% extends "zing_it/base.html" %}
{% load static %}
{% block css %}{% static 'zing_it/css/songs.css' %}{% endblock %}

{% block title %} Login {% endblock %}

{% block links %}
  <a href="{% url 'signup' %}">Signup</a>
{% endblock %}

{% block pagename %}Login Page{% endblock %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" name= "btn" value="Submit">
</form>
{% if status %}
<br>
<p>{{ status }}</p>
{% endif %}
{% endblock %}